body{
    font-family: Karla, "Source Sans Pro", sans-serif;
}

ul{
    list-style: none;
}
/*Header Início*/
header{
    width: 100%;
    height: 100px;
    background-color: #F5DB13;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 5px 10px 16px #CCCCCC;
    z-index: 10;
}

.cabecalho{
    width: 100%;
    max-width: 1200px;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo{
    width: 150px;
}

.cabecalho__nav ul{
    display: flex;
}

.cabecalho__nav li>a{
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-left: 60px;
}

.cabecalho__nav li>a:active{
    border-bottom: 3px solid #000000;
}
/*Header Fim*/

/*Main Início*/
.conteudo{
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.conteudo__search > * {
    margin-bottom: 20px;
}
.conteudo__search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}
.conteudo__search span{
    font-weight: bold;
}

.conteudo__search .search{
    text-indent: 50px;
    width: 100vh;
    height: 50px;
    border-radius: 30px;
    background-color: #F2F2F2;
    border: none;
    box-shadow: 5px 10px 16px #CCCCCC;
}

.search__filter{
    width: 70vh;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal button{
    width: 135px;
    border: none;
    border-radius: 30px;
    background-color: #F2F2F2;
    line-height: 1.5em;
    box-shadow: 5px 10px 16px #CCCCCC;
}

.modalFilter.open{
    width: 150px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    z-index: 5;
}

.modalFilter.open li{
    display: flex;
    margin: 5px 0;
    font-size: 0.5em;
}

.modalFilter.open  li p{
    text-indent: 5px;
}


.modalFilter, .modalFilter > * {
    display: none;
}

@keyframes openModal{
    from {
        opacity: 0;
        transform: translate3d(0, -10px,0)
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modalFilter{
    animation: modalFilter .3s;
}


/* Conteudo Results*/
.conteudo__results{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 330px;
    height: 140px;
    border: 1px solid rgba(204, 204, 204, 0.7);
    border-bottom: none;
    display: flex;
    border-radius: 15px;
    box-shadow:  0 15px 20px rgb(204, 204, 204);
    margin: 25px 0 25px 10px;
}

.card__info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    border-radius: 15px;
    margin-left: 15px ;
}

.info__name{
    font-size: 1.2em;
    font-weight: bold;
}

.info__stats{
    display: flex;
    justify-content: space-around;
}

.stats__attack, .stats__defense{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.stats{
    width: 40px;
    height: 40px;
    border: 3px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.stats__text{
    color: #3d3d3d;
    font-size: 0.8em;
}

.card__types{
    display: flex;
    width: 130%;
    margin-bottom: 5px;
    justify-content: space-between;
}

.card__types p{
    background-color: red;
    text-align: center;
    font-size: 0.8em;
    width: 50%;
    margin-right: 10px;
    border-radius: 50px;
    z-index: 1;
}

.card__types p:nth-child(2){
    margin-right: 0;
}

.card__image{
    border-radius: 0 15px 15px 0;
}

.card__image img{
    margin-top: 10px;
    width: 200px;
    height: 90%;
    border-radius: 0 15px 15px 0;
}


/*Main Fim*/
/*Footer Início*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.footer__element{
    width: 100%;
    max-width: 1024px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.heart__icon{
    color: #ff0000;
}

/*Footer Fim*/